.profile-data {
  line-height: 24px;

  h1, .page-link {
    font-weight: var(--font-weight-bold);
  }

  .followers {
    cursor: pointer;
    line-height: 14px;
    margin-top: 14px;
    font-size: 12px;
    color: var(--color-gray-darker);
    font-weight: var(--font-weight-bold);
  
    .follower {
      color: var(--color-text-main);
    }
  }
}