.feed-photo-zoom {
  min-height: 450px;
  justify-content: center;
  background-color: var(--color-black);
  margin-right: var(--feed-photo-right-section-width);

  &__content {
    display: block;
    width: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}