.feed-photo {
  cursor: pointer;

  img {
    display: block;
    width: var(--block);
    height: var(--block);
    object-fit: cover;
  }

  // Minimal undo, still needs to undo complentary classes.
  display: initial;
}
