.profile {
  margin-bottom: 44px;
  flex-flow: row wrap;
  width: 100%;

  &__pic {
    flex-grow: 1;
    margin-right: 30px;
    flex-basis: 0;
  }

  &__data {
    flex-grow: 2;
    flex-basis: 30px;

    .profile-name {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 28px;
      line-height: 32px;
      margin: -5px 0 20px;
    }
  }
}