:root {
  --width: 300px;
  --gutter: 20px;
  --block: var(--width);

  @media (min-width: 768px) {
    --width: 688px;
    --block: calc(calc(var(--width) / 3) - var(--gutter));
  }

  @media (min-width: 1024px) {
    --width: 938px;
  }
}
